.loading {
  background: black;
  height: 23em;
}

.loader{
    text-align: center;
    padding: 1em;
    height: 60%;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    width: 95%;
  }
  

svg path,svg rect{
    fill: #FF6700;
  }