.filter{
    display: none;
    position: absolute;
    height: 100vh;
    width: 29%;
    background: rgb(26,26,26);
    right: 0;
    color: white;
    bottom: 0;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 99;
}

.filter .close-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5em;  
}
.filter-container{    
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5% 0%;
    width: 100%;

}

.filter-container ul {
    list-style: none;
    padding: 5%;
}

.filter-container ul li {
    padding: 4%;
    text-decoration: none;
    background: azure;
    margin: 4%;
    color: black;
    border-radius: 0.3em;
    text-align: justify;
}

.filter-container ul li  option {
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

.close-icon i{
    padding-right: 5%;
}

.filter-container ul li  select{
    width: 100%;
    text-align: center;
    outline: none;
    height: 2em;
    font-size: 1em;
    border: navajowhite;
    background: azure;
    display: flex;
    justify-content: center;
}

.genresoption{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    text-align: left;
}

.genresoption h1 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (max-width:473px) {
 
    .filter{
     
        width: 40%;
    }
}