.single-movie-container{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    color: white;
    font-size: 2em;
}

.primary-section-back {
    /* background: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/dq18nCTTLpy9PmtzZI6Y2yAgdw5.jpg"); */

}

.primary-section {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
    background: linear-gradient(hsl(0 0% 0% / 1),hsl(20 0% 0% / 0.2) 20%,hsl(0 0% 0% / 1));
}

.primary-section-right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.content-box{
    width: 100%;
}
.content-box .movie-type h2 {
    margin: 0;
    font-size: 1em;
}
.gener {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: unset;
    width: 100%;
    /* padding: 4%; */
    font-size: 0.6em;
    padding: 0.2em;
}

.gener li{
    background: linear-gradient(
45deg
, #c7c1c1, transparent);
    width: 87%;
    margin: 0% 4% 0% 0%;
    border: 1px solid #14d0b2;
    border-radius: 0.2em;
    padding: 0.2em;
}

.tv-14 {
    display: flex;
    width: 100%;
    background: linear-gradient(
45deg
, #a09797, transparent);
    /* height: 50%; */
    text-align: center;
    font-size: 0.6em;
    border-radius: 0.1em;
    margin: -0.5em;
    padding: 0.2em;
}

.tv-14 p{
    margin: 0;
    padding: 0;
    width: 100%;
}
.primary-section-left .container .movie-card .content {
    opacity: 0;
}

.for-user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    width: 100%;
    padding: 0% 8% 0% 2%;
}

.for-user .movie-popularity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
.for-user .movie-popularity p{
    margin: 0;
    padding: 0;
    font-size: 0.7em;

}

.for-user ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 1em;
}

.for-user ul li{
    background: #a7e6e0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}

.for-user ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50px;
    justify-content: center;
}

.movie-popularity ::after {
    content: "User Score";
    display: inline-block;
    width: 93px;
    font-size: 0.6em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.6em;
    text-align: justify;
    font-family: cursive;
}
.overview .over{
    width: 100%;
}

.over h1::after{
    content: "Creator";
    display: inline-block;
    height: 1em;
    width: 70%;
    font-size: 0.5em;
}

.trailer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.trailer video{
    max-width: 90%;
    height: 75%;
    outline: none;
    border-radius: 0.5em;
}


.closeicon{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 32px;
}
.movie-cast{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.movie-cast {
    background: rgb(37, 37, 37);
}

.recommedation{
    width: 100%;
}

@media screen and (max-width:500px) {
        
    .for-user {
        flex-direction: column;
    }
    .gener{
        flex-wrap: wrap ;
    }
    .gener li{
        margin-top: 0.5em;
    }

    
}