.feedback-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: black;
}
.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 2%; */
    background: black;
    width: 100%;
}
/* .feedback FeedbackCard {
    margin: 5%;
} */

/* @media screen  and (max-width:670px) {
    
    .feedback{
        flex-direction: column;
    }

    .card-container {
        width: 100%;
        margin: 1%;
    }

       
} */

@media screen  and (max-width:470px) {

    .feedback{
        flex-direction: column;
    }

    .card-container {
        width: 96%;
        margin: 2%;
    }

    .card-content{
        line-height: 1.8em;
        padding: 0;
        font-size: 0.7em;
    }

    .card-content p{
        margin: 0.5em;
    }


       
}